/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  "Open Sans", sans-serif;
}
/* reset */
.clearfix:after{
  content: "";
  display: table;
  clear:both;
}
/* navbar */
.navbar{
  height: calc( 100vh - 70px );
  width: 200px;
  background-color: #000000;
  color: #3f3f3f;
  float: left;
}
.navbar .logo{
  height: 50px;
  width: 100%;
}
.navbar .logo{
  height: 70px;
  width: 100%;
  background-image: url(img/logo.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar .menu{
  height: 110px;
  width: 100%;
  padding: 10px;
}
.navbar .menu li img{
  height: 20px;
  width: 20px;
  color: #3f3f3f;
}
.navbar .menu li i{
  font-size: 20px;
  color: #3f3f3f;
}
.navbar .menu li{
  font-size: 14px;
  padding: 5px 0;
}
.navbar .menu li a{
  text-decoration: none;
  color: #3f3f3f;
}
/* playlist */
.playlist{
  height: calc( 100vh - 320px );
  width: 100%;
  padding: 10px;
  overflow-y: auto;
}
.playlist h1{
  color: white;
  font-size: 14px;
}
.crea-playlist .fa-plus-square{
  float: left;
  font-size: 30px;
  color: #a3a3a3;
}
.crea-playlist p{
  float: left;
  padding-top: 7px;
  font-size: 14px;
}
.nuova-playlist{
  padding: 5px;
}
.nuova-playlist ul li{
  list-style-type: none;
  font-size: 13px;
  padding: 3px 0;
}
/* user */
.tab-user{
  height: 70px;
  width: 100%;
  padding: 15px;
}
.app{
  font-size: 12px;
}
.app i{
  padding-right: 5px;
}
.app .icon-download,
.app .text-app{
  display: inline-block;
}
.user .circle,
.user .text-name{
  display: inline-block;
}
.user img{
  height: 15px;
  vertical-align: middle;
  margin-right: 3px;
}
.user .circle{
  background-color: gray;
  padding: 5px;
  border-radius: 50%;
  line-height: 5px;
}
/* main content */
.main-content{
  width: calc( 100% - 200px );
  height: calc( 100vh - 70px );
  float: left;
  background-color: #141922;
  overflow-y: auto;
}
.sezione-upgrade{
  height: 70px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.button-upgrade p a{
  text-decoration: none;
  font-size: 8px;
  color: white;
  padding: 8px;
  border: 1px solid white;
  border-radius: 15px;
  width: 100px;
  display: block;
}
.button-upgrade{
  padding-top: 20px;
  padding-left: 80%;
  display: block;
}
.collezione-musicale{
  padding: 15px;
}
.collezione-musicale ul li:first-child{
  position: relative;
}
.collezione-musicale .actual-page{
  width: 50px;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 36%;
  background-color: lightgreen;
}
.collezione-musicale ul{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
}
.collezione-musicale ul li{
  list-style-type: none;
  padding: 15px;
  flex-basis: calc( 100% / 6 );
  color: white;
  font-size: 12px;
}
.collezione-musicale ul li a{
  text-decoration: none;
  color:white;
}
.collezione-musicale:first-of-child{
  border-bottom: 2px solid limegreen;
}
/* cover collection */
.cover-collection{
  padding: 15px;
}
.cover-collection h2{
  color: white;
  padding: 10px 0;
}
.cover-collection h3{
  color: white;
}
.cover-collection p{
  color: #51545a;
}
.cover-collection .cover-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cover-collection .cover-item{
  flex-basis: calc( 100% / 6 );
  padding: 5px;
  text-align: center;
}
.cover-collection .cover-image{
  position: relative;
}
.cover-collection .cover-image img{
  width: 100%;
}
.cover-collection .cover-image .layover{
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.cover-collection .cover-item:hover .layover{
  display: block;
}
.cover-collection .cover-image .layover i{
  position: absolute;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  font-size: 20px;
}
.cover-collection .cover-item .round-image{
  border-radius: 50%;
}
/* collezione musicale */
.main-content h4{
  color: white;
}
@media all and (max-width:970px) {
  .cover-collection .cover-item {
    flex-basis: calc( 100% / 4 );
  }
  .collezione-musicale ul li{
    flex-basis: calc( 100% / 5 );
  }
}
/* footer*/
footer{
  height: 70px;
  width: 100%;
  background-color: #282828;
 }

.footer-content{
  display: flex;
  justify-content: space-between;
  color: white;
}
.current-song,
.volume{
  flex-basis: 250px;
}
.player{
  flex-basis: 40%;
  text-align: center;
}
.progress-bar{
  margin-top: 20px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
 }
.progress-bar .bar{
  width: 80%;
  height: 4px;
  background-color: grey;
  border-radius: 5px;
  position: relative;
}
.current-progress-bar{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 11%;
  background-color: lightgrey;
}
.current-progress-bar::after{
  content: '';
  position: absolute;
  top: -130%;;
  right: 0;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  display: none;
}
.current-progress-bar:hover{
  background-color: lightgreen;
}
.current-progress-bar:hover::after{
  display: block;
}
/* media query */
@media all and (max-width: 750px) {
  .xs-display-none{
    display: none;
    }
  .navbar{
    width: 40px;
    }
  .tab-user{
    padding:0;
    }
  .app{
    padding-left: 12px;
    }
  .circle{
    margin-left: 6px;
    }
  .small-logo{
    height: 35px;
    padding-left: 3px;
    padding-top: 3px;
    }
  .navbar .logo{
    height: 30px;
    }
  .navbar .menu {
    height: 170px;
    }
  /* main content */
  .main-content{
    width: calc( 100% - 40px );
  }
  .collezione-musicale ul li{
    flex-basis: calc( 100% / 3 );
  }
  .cover-collection .cover-item {
    flex-basis: calc( 100% / 2 );
  }
}
@media all and (min-width: 750px){
  .sm-display-none{
    display: none;
  }

}
/* @media all and (min-width:750px){

} */
